.pick-container {
  width: 100%;
  min-height: 80px;
  padding: 12px;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 2px solid #97f4fd;
  .pick-action {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pick-show {
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    .pick-ball-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ball {
        font-size: 16px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: #141212 -3px -3px 6px 0px inset, #bfbfbf 5px 3px 8px -5px inset;
        span {
          margin-left: -2px;
          margin-top: -2px;
        }
      }
      .red-ball {
        background: rgb(255, 0, 0);
      }
      .blue-ball {
        background: #0d00ff;
      }
      & + .pick-ball-container {
        margin-top: 10px;
      }
    }
  }
}
